@import "tailwindcss";
@import "lenis/dist/lenis.css";

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #f5f2e4;
  --foreground: #060606;
}

@theme {
  --color-text-primary: #010101;
  --color-text-secondary: #bdb296;
  --color-primary: #060606;
  --color-secondary: #bdb296;
  --color-accent-primary: #ff5252;
  --color-accent-secondary: #99bbad;
}

/* ------ FONTS ------ */

@utility font-neueMachina-bold {
  font-family: var(--font-neue-machina);
  font-weight: 900;
}
@utility font-hk-grotesk {
  font-family: var(--font-hanken-grotesk);
}

body {
  background: var(--background);
  @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
  color: var(--foreground);
}

@utility masked-img {
  mask-image: url("/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
}

@utility masked-img-2 {
  mask-image: url("/mask-img-2.png");
  mask-repeat: no-repeat;
  mask-position: center;
}

.cursor-pointer {
  @apply cursor-pointer!;
}
.cursor-default {
  @apply cursor-default!;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  @apply cursor-default;
}

::selection {
  @apply bg-secondary/40 saturate-0;
}

.stroke-text {
  -webkit-text-stroke: 2px var(--color-secondary);
  color: transparent;
}

.stroke-text::selection {
  background: #bdb29620;
  color: var(--color-accent-primary);
  text-shadow: 0 0 1px var(--color-accent-primary);
}

@layer components {
  #hero {
    @apply relative h-screen;

    .hero-minidesc {
      @apply top-60 -right-10 absolute p-20;
      @apply lg:top-48 lg:left-96;
    }

    .hero-title {
      @apply text-6xl font-neueMachina-bold absolute left-8 bottom-[40rem] z-10;
      @apply lg:text-[11rem] lg:leading-40 lg:left-32 lg:bottom-28;
    }

    .hero-carousel {
      @apply w-[350px] h-[300px] bottom-56 overflow-hidden absolute z-1;
      @apply lg:w-[600px] lg:h-[560px] lg:right-[24.8rem] lg:bottom-[12.4rem];
    }

    .hero-grid {
      @apply absolute top-[30rem] right-10;
      @apply lg:top-0 lg:right-0 lg:p-20;

      .hero-btn {
        @apply m-0 rounded-full absolute bottom-0 right-0 size-32 border-accent-secondary border bg-[#f5f2e4];
        @apply lg:m-20 lg:size-56;
      }

      img {
        @apply m-0 absolute top-52 right-52 rotate-12 scale-40;
        @apply lg:m-20 lg:top-[11.3rem] lg:right-30 lg:scale-68 lg:-rotate-12
      }
    }
  }

  #news {
    @apply pt-44 px-4 lg:px-64 w-full flex flex-col justify-center;

    .news-title {
      @apply flex flex-col gap-2;
      @apply lg:gap-5;

      p {
        @apply text-secondary font-neueMachina-bold text-base;
        @apply lg:text-lg mx-auto;
      }

      h1 {
        @apply text-5xl font-neueMachina-bold text-center;
        @apply lg:text-[11rem] lg:leading-40;
      }

      div {
        @apply rounded-xl overflow-hidden relative my-12;
        @apply lg:my-24;
      }
    }

    .news-content {
      @apply px-4;
      @apply lg:px-36;

      h5 {
        @apply font-neueMachina-bold capitalize tracking-wide text-xl text-text-primary my-3 px-4;
        @apply lg:text-2xl lg:px-12;
      }

      p {
        @apply font-hk-grotesk leading-[1.9rem] tracking-[0.015em] font-medium text-xl text-text-primary my-5 px-4 text-justify;
        @apply lg:px-12 lg:leading-10 lg:tracking-[0.02em] lg:text-2xl;
      }

      div {
        @apply rounded-xl overflow-hidden relative mt-10 mb-16;
      }

      ul {
        @apply font-hk-grotesk leading-[1.9rem] tracking-[0.015em] font-medium text-xl text-text-primary my-5 px-4 text-justify list-disc;
        @apply lg:px-12 lg:leading-10 lg:tracking-[0.02em] lg:text-2xl;
      }
    }
  }
}
