@import "tailwindcss";
@import "lenis/dist/lenis.css";

html {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #f5f2e4;
  --foreground: #060606;
}

@theme {
  --color-text-primary: #010101;
  --color-text-secondary: #bdb296;
  --color-primary: #060606;
  --color-secondary: #bdb296;
  --color-accent-primary: #ff5252;
  --color-accent-secondary: #99bbad;
}

/* ------ FONTS ------ */
@layer utilities {
  .font-neueMachina-light {
    font-family: var(--font-neue-machina);
    font-weight: 200;
  }
  .font-neueMachina-regular {
    font-family: var(--font-neue-machina);
    font-weight: 400;
  }
  .font-neueMachina-bold {
    font-family: var(--font-neue-machina);
    font-weight: 900;
  }
  .font-hk-grotesk {
    font-family: var(--font-hanken-grotesk);
  }
  .font-barlow {
    font-family: var(--font-barlow);
  }
}

body {
  background: var(--background);
  @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
  color: var(--foreground);
}

@utility masked-img {
  mask-image: url("/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
}

@utility masked-img-2 {
  mask-image: url("/mask-img-2.png");
  mask-repeat: no-repeat;
  mask-position: center;
}


.cursor-pointer {
  @apply cursor-pointer!;
}
.cursor-default {
  @apply cursor-default!;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  @apply cursor-default;
}

::selection {
  @apply bg-secondary/40;
}
